
body {
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fafafa;
}

.svg-container {
    width: 80%;
    display: inline-block;
    padding-left: 90px;
}

/* AXES */
/* ticks */
.axis line {
    stroke: #706f6f;
    stroke-width: 0.5;
    shape-rendering: crispEdges;
}

/* axis contour */
.axis path {
    stroke: #706f6f;
    stroke-width: 0.7;
    shape-rendering: crispEdges;
}

/* axis text */
.axis text {
    fill: #2b2929;
    font-size: 120%;
}

/* LINE CHART */
path.line {
    fill: none;
    stroke: #cccccc;
}

path#line-0 {
    stroke: #ed3700;
}

path#line-1 {
    stroke: #2b2929;
}

path#line-2 {
    stroke: #9c9c9c;
}

path#line-3 {
    stroke: #364597;
}

path#line-4 {
    stroke: #7a4194;
}

path#line-5 {
    stroke: #c99859;
}

path#line-6 {
    stroke: #98c959;
}

.serie_label {
    fill: #2b2929;
    /* font-family: Georgia; */
    font-size: 80%;
}

/* TOOLTIP */
.tooltip {
    fill: #2b2929;
    font-size: 100%;
    background: #eee;
    border: #ccc 1px solid;
    border-radius: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

/* POINTS */
.point {
    stroke: none;
    fill: #9c9c9c;
}

.attribution {
    text-align: right;
    font-size: x-small;
} 